@model IEnumerable<Rental.Management.Final.Models.RentalContract>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-1">
    <div class="col"></div>
    <a asp-action="Create" class="btn btn-success col">Rental Contracts</a>
    <div class="col"></div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalPropertyId)
        </th>
            <th class="col-1">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="col-1">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th class="col-1">
            @Html.DisplayNameFor(model => model.PaymentReceived)
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalProperty.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PaymentReceived)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
